<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <title>Teste Gigatec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="keywords" content="inclined, skew, sloping, html5, slopy, css3, web design, elements, div, section, background, rotate, transform" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css' />
	<script src="js/modernizr.custom.34978.js"></script>	
</head>

<body>
    <div class="container">
        
		<section class="se-container">
			<div class="se-slope">
				<article class="se-content">
					<h3>Priscila Klein</h3>
					<p>"Desde o primeiro contato que tive com a Gigatecrs, sempre foram muito atenciosos e prestativos.  Procurava uma empresa que combinasse qualidade e preço acessível, e encontrei essa empresa que o momento todo, desde a solicitação da compra até a entrega, prestaram assistência necessária.  Estou muito feliz com o trabalho entregue, as camisetas personalizadas ficaram exatamente como esperado. Parabéns pela agilidade, trabalho e atenção com os clientes."</p>
				</article>
			</div>
			<div class="se-slope">
				<article class="se-content">
					<h3>Jaqueline Scherf</h3>
					<p>"Gostaria de agradecer todas as camisetas ficaram perfeitas as famílias só elogiaram. Só tenho a agradecer pela presteza da sua empresa. Sucesso em 2018. Faremos outros produtos. Grande abraço!"</p>
				</article>
			</div>
			<div class="se-slope">
				<article class="se-content">
					<h3>Bruna - Mostra Elite Design</h3>
					<p>"Quando a empresa preza pelo bom atendimento e satisfação do cliente, sabemos que será um bom negócio, unindo isso a bons produtos e rapidez na entrega, podemos garantir que o trabalho será excelente, obrigada GIGATEC por tudo isso e por fazer nosso evento ficar mais colorido com as camisetas de vocês."</p>
				</article>
			</div>
		</section>
    </div>
</body>